.vs/
.idea/
.kotlin/
.gradle/

**/bin/
**/obj/
**/build/
**/out/
**/release/

*.user
*.suo
*.cache
*.log
*.pdb

android/local.properties
android/.gradle/

windows/installer/output/
windows/installer/publish/

.DS_Store
Thumbs.db
